.hero {
  /* padding: 1rem; */
}

.hero__img {
  text-align: center;
}

.hero__description {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.hero .social {
  padding-bottom: 2.4rem;
}

@media screen and (min-width: 768px) {
  .hero .container {
    display: flex;
    gap: 3.2rem;
  }

  .hero__description {
    order: 1;
    max-inline-size: 45rem;
    align-self: flex-end;
  }

  .hero__img {
    order: 2;
    text-align: end;
    flex: 1;
  }
}

@media screen and (min-width: 1024px) {
  .hero__img img {
    inline-size: 500px;
  }
}
